<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="needs-validation"
  novalidate
>
  <div class="mb-3">
    <label for="firstName" class="form-label">First name</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      formControlName="firstName"
      required
    />
    <div class="invalid-feedback">Please provide a valid first name.</div>
  </div>
  <div class="mb-3">
    <label for="lastName" class="form-label">Last name</label>
    <input
      type="text"
      class="form-control"
      id="lastName"
      formControlName="lastName"
      required
    />
    <div class="invalid-feedback">Please provide a valid last name.</div>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      formControlName="email"
      required
    />
    <div class="invalid-feedback">Please provide a valid email.</div>
  </div>
  <div class="mb-3">
    <label for="address" class="form-label">Address</label>
    <input
      type="text"
      class="form-control"
      id="address"
      formControlName="address"
      required
    />
    <div class="invalid-feedback">Please provide a valid address.</div>
  </div>
  <div class="mb-3" formArrayName="phoneNums">
    <div
      *ngFor="let phoneNum of form.get('phoneNums')['controls']; let i = index"
      [formGroupName]="i"
    >
      <div class="row">
        <div class="col-md-6">
          <label for="phoneNum" class="form-label"
            >Phone number {{ i + 1 }}</label
          >
          <input
            type="text"
            class="form-control"
            id="phoneNum"
            formControlName="number"
            required
          />
          <div class="invalid-feedback">
            Please provide a valid phone number.
          </div>
        </div>
        <div class="col-md-4">
          <label for="phoneLabel" class="form-label">Phone label</label>
          <select class="form-select" id="phoneLabel" formControlName="label">
            <option value="" selected disabled>Select a label</option>
            <option *ngFor="let label of phoneLabels" [value]="label">
              {{ label }}
            </option>
          </select>
        </div>
        <div class="col-md-2">
          <button
            type="button"
            class="btn btn-danger mt-4"
            (click)="removePhoneNum(i)"
          >
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary mt-4" (click)="addPhoneNum()">
      <i class="bi bi-plus"></i> Add phone number
    </button>
  </div>
  <button type="submit" class="btn btn-primary mt-4">Submit</button>
</form>
