<form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
  <div class="form">
    <div class="form-group"></div>
    <label for="firstname">First Name: </label> <br />
    <input
      type="text"
      id="firstName"
      name="firstName"
      class="form-control"
      formControlName="firstName"
    />
    <div
      *ngIf="
        !reactiveForm.get('firstName').valid &&
        (reactiveForm.get('firstName').dirty ||
          reactiveForm.get('firstName').touched)
      "
    >
      <div
        [hidden]="!reactiveForm.get('firstName').errors['required']"
        style="color: red"
      >
        firstName is required
      </div>
    </div>

    <br />
    <label for="lastname">Last Name: </label>
    <input
      type="text"
      id="lastName"
      name="lastName"
      class="form-control"
      formControlName="lastName"
    />
    <div
      *ngIf="
        !reactiveForm.get('lastName').valid &&
        (reactiveForm.get('lastName').dirty ||
          reactiveForm.get('lastName').touched)
      "
    >
      <div
        [hidden]="!reactiveForm.get('lastName').errors['required']"
        style="color: red"
      >
        lastName is required
      </div>
    </div>
    <br />
    <label for="email">Email: </label>
    <input
      type="email"
      id="email"
      name="email"
      class="form-control"
      formControlName="email"
    />
    <div
      *ngIf="
        !reactiveForm.get('email').valid &&
        (reactiveForm.get('email').dirty || reactiveForm.get('email').touched)
      "
    >
      <div
        [hidden]="!reactiveForm.get('email').errors['required']"
        style="color: red"
      >
        Email is required
      </div>
    </div>
    <br />
    <br />Enter your Address:<br />
    <textarea class="form-control" formControlName="address"></textarea><br />
    <div
      *ngIf="
        !reactiveForm.get('address').valid &&
        (reactiveForm.get('address').dirty ||
          reactiveForm.get('address').touched)
      "
    >
      <div
        [hidden]="!reactiveForm.get('address').errors['required']"
        style="color: red"
      >
        address is required
      </div>
    </div>
    <label for="phoneNo">Add Phone Number: </label>
    <br />
    <br />
    <div formArrayName="phoneNum">
      <ng-container
        *ngFor="
          let pNum of reactiveForm.get('phoneNum')['controls'];
          index as i
        "
      >
        <br />
        <tr>
          <td class="form-control">
            <label for="register_network" class="label">Select Network:</label>
          </td>
          <td>
            <select name="Network" id="register_network" class="form-control">
              <option value="Ufone">Ufone</option>
              <option value="Telenor">Telenor</option>
              <option value="Jazz">Jazz</option>
              <option value="Zong">Zong</option>
              <option value="SCOM">SCOM</option>
            </select>
          </td>
        </tr>
        <input
          type="number"
          id="phoneNo"
          placeholder="phoneNumber"
          class="form-control"
          formControlName="{{ i }}"
        />
      </ng-container>
    </div>
    <br />
    <tr>
      <td colspan="2">
        <div class="form-group">
          <input
            type="submit"
            id="button"
            value="button"
            class="form-control"
          />
        </div>
      </td>
    </tr>
  </div>
</form>
