<div class="card" style="width: 18rem">
  <img
    src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fangular.io%2Fpresskit&psig=AOvVaw3TVaRuCb2zuZ_JLrDjsR1C&ust=1681544301736000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCIC2nunuqP4CFQAAAAAdAAAAABAE"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
